@import '_variables';
@import 'form';
@import 'menues';

* {
	margin: 0;
	padding: 0;
}

body {
	background: $bg;
	height: 100%;
	width: 100vw;
	overflow: hidden;
}

#app {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  font-size: $font-size;
}

.wrapper {
	position: relative;
	box-sizing: border-box;
	padding: 0 25px;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 100;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      height: 32px;
      margin-top: 5px;
      path {
        fill: url(#main_gradient);
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: .9em;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0;
  z-index: 200;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    small a {
      color: $main;
      text-decoration: none;
    }
    .actions {
      display: flex;
      align-items: center;
      small a {
        margin-right: 15px;
      }
    }
  }
}

.card {
  width: 250px;
  box-sizing: border-box;
  padding: 18px 24px;
  padding: 10px 15px;
  background: $layer-1;
  box-shadow: $shadow-1;
}

// Fade Transition
.fade-enter-active,
.fade-leave-active {
  transform-origin: top center;
  transition: all 120ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: ScaleY(.5);
}

.fade-enter-to,
.fade-leave-from {
transform-origin: top center;
  transform: ScaleY(1);
  opacity: 1
}

.fadeup-enter-active,
.fadeup-leave-active {
  transform-origin: bottom center;
  transition: all 120ms ease;
}

.fadeup-enter-from,
.fadeup-leave-to {
  opacity: 0;
  transform: ScaleY(.5);
}

.fadeup-enter-to,
.fadeup-leave-from {
  transform: ScaleY(1);
  transform-origin: bottom center;
  opacity: 1
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-moz-selection {
	background: $main;
}

::selection {
	background: $main;
}

.accessable {
	position: absolute;
	opacity: 0;
	display: none;
}