/**
		COLOR-MENU
*/

.color-menu {
	z-index: 2000;
	display: flex;
	align-items: center;
	.auto-close {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	.current-color {
		background: none;
		border: none;
		position: relative;
		height: 18px;
		width: 18px;
		padding: 5px;
		cursor: pointer;
		.color {
			display: block;
			position: absolute;
			height: 12px;
			width: 12px;
			box-sizing: border-box;
			border: 1px solid $layer-2;
			&.bg-color {
				bottom: 0;
				left: 0;
				background: $bg;
			}
			&.fr-color {
				top: 0;
				right: 0;
				background: #fff;
			}
		}
		&:focus {
			outline: none;
		}
	}
	.color-choice {
		position: fixed;
		bottom: 0;
		right: 0;
		background: $layer-1;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding: 14px 24px;
		.form-field {
			margin-bottom: 15px;
		}
		h3.title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: $label-color;
			font-weight: 700;
			font-size: 12px;
			padding: 14px 24px;
			margin: -14px -24px;
			cursor: pointer;
			margin-bottom: 2px;
			svg {
				height: 7px;
				transform: rotate(0deg);
				transition: transform 90ms ease-out;
				rect {
					fill: $plus-icon;
					transition: fill 120ms ease-out;
				}
			}
			&:hover {
				svg rect {
					fill: #fff;
				}
			}
		}
	}
}

@media screen and (min-width: 420px) {
	.color-choice {
		width: 240px !important;
	}
}